.space{
 position: static;
}

.im0{
    margin-top: 0px;
}
.im1{
    margin-top: 15px;
    margin-left: -32px;
}
.im2{
    margin-top: 9px;

}
.im3{
    margin-top: 3px;
    margin-left: -31px;
}

h1 {
 font-size: 30px;
 color : rgb(109, 109, 109);
 margin-top: 12px;
 margin-left: 40px;
}
h2 {
 font-size: 30px;
 color : rgb(109, 109, 109);
 margin-top: 35px;
 margin-left: 40px;
}
h3 {
 font-size: 30px;
 color : rgb(109, 109, 109);
 margin-top: 37px;
 margin-left: 40px;
}
h4 {
 font-size: 30px;
 color : rgb(109, 109, 109);
 margin-top: 33px;
 margin-left: 40px;
}

.pouf {
    margin-left: 400px;
    margin-top: -200px;
}
.serd {

    margin-top: -20px;
}
.serp {

    margin-top: -20px;
}
.gryf {

    margin-top: -20px;
}
