.space{
 display:block;
 justify-content: center;
 align-items: center;
 margin-left: auto;
 margin-right: auto;
 position: absolute;
}

.im0{
    margin-top: 0px;
}
.im1{
    margin-top: 0px;
}
.im2{
    margin-top: -1px;
}
.im3{
    margin-top: -8px;
}

h1 {
 font-size: 30px;
 align-items: center;
 text-align: left;
 color : rgb(109, 109, 109);
 word-spacing: 21px;
 margin-top: 12px;
 margin-left: 40px;
}
h2 {
 font-size: 30px;
 align-items: center;
 text-align: left;
 color : rgb(109, 109, 109);
 word-spacing: 21px;
 margin-top: 35px;
 margin-left: 40px;
}
h3 {
 font-size: 30px;
 text-align: left;
 align-items: center;
 color : rgb(109, 109, 109);
 word-spacing: 21px;
 margin-top: 37px;
 margin-left: 40px;
}
h4 {
 font-size: 30px;
 text-align: left;
 align-items: center;
 color : rgb(109, 109, 109);
 word-spacing: 21px;
 margin-top: 33px;
 margin-left: 40px;
}

input{
    position: absolute; 
}

.pouf {
    margin-top: 0px;
}
.serd {
    margin-top: 30px;
}
.serp {
    margin-top: 60px;
}
.gryf {
    margin-top: 90px;
}